@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  background-color: #f0f0f0;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: #ffffff;
}
.top-bar .logo img {
  width: auto;
  height: 90px;
}
.top-bar .main-menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 20px;
}
.top-bar .main-menu li {
  position: relative;
}
.top-bar .main-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background-color: #e3002f;
}
.top-bar .main-menu li a {
  font-size: 28px;
  color: #e3002f;
  font-weight: bold;
  text-decoration: none;
}
.top-bar .main-menu li a:hover {
  color: #580214;
  transition: color 0.5s;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}
.content .item {
  flex: 1 1 30%;
  min-width: 280px;
}
.content .item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media (min-width: 1024px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
    /* Obrazy 2x2 */
  }
}
footer {
  display: flex;
  background-color: #222;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: auto;
  padding: 10px 0;
}
@media (max-width: 1024px) {
  body {
    display: block;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .item {
    width: 100%;
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
  }
  .main-menu ul {
    flex-direction: column;
    text-align: center;
    padding-right: 0;
    width: 100%;
  }
  .main-menu li {
    width: 100%;
    text-align: center;
  }
  .main-menu li:not(:last-child)::after {
    width: 80%;
    height: 1px;
    background-color: #888;
    position: absolute;
    top: 100%;
    left: 10%;
  }
  .main-menu li a {
    display: block;
    padding: 12px 0;
  }
  .images img {
    width: 100%;
  }
}
